<html ng-app='loginForms'>
<head>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="angular.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBGpcf8wLU2qj_paSG5zdHdutiUz3ng6Ts",
    authDomain: "registration-app-e72a0.firebaseapp.com",
    databaseURL: "https://registration-app-e72a0.firebaseio.com",
    projectId: "registration-app-e72a0",
    storageBucket: "",
    messagingSenderId: "584885780365"
  };
  firebase.initializeApp(config);
</script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

  <script src="js/app.js"></script>
  <title>Register</title>
</head>
  <body ng-controller="loginFormController as loginFormCtrl">
    <div name="headsection"  class="container">
      <section class="content" id="header">
        <h2 class="text-capitalize">Registration form</h2>
      </section>
      <section class="content" id="sub-header">
        <blockquote class="bg-faded">
        <p class="lead text-justify">Enter The Following <strong>Registration Details<strong></small></p>
        </blockquote>
      </section>

        <div class="progress" >
        <div class="progress-bar" role="progressbar" aria-valuenow="{{loginFormCtrl.value}}" aria-valuemin="0" aria-valuemax="100" style="width:{{loginFormCtrl.value}}%">
          <span class="sr-only">{{loginFormCtrl.value}}% Complete</span>
        </div>
        </div>



    </div>
    <div class="container" style="margin-top:30px;">
      <form name="registrationform" ng-submit="loginFormCtrl.registerUserAPI();" novalidate>
      <div class="formgroup">

        <label class="textstyle">First Name</label>
        <input type="text" class="form-control textstyle" name="firstnames" ng-model="loginFormCtrl.firstname" ng-minlength="5" ng-required="true"
        ng-change="loginFormCtrl.check();">
        <p ng-show="registrationform.firstnames.$error.required && registrationform.firstnames.$touched" class="help-block textstyle error" >firstname is required</p>
        <p ng-show="registrationform.firstnames.$error.minlength"class="help-block textstyle error">firstname must contain atleast 5 characters </p>

      </div>
      <div class="formgroup">
        <label class="textstyle">Last Name</label>
        <input type="text" class="form-control textstyle" name="lastnames" ng-model="loginFormCtrl.lastname" ng-minlength="5" ng-required="true"
        ng-change="loginFormCtrl.check();">
        <p ng-show="registrationform.lastnames.$error.required && registrationform.lastnames.$touched" class="help-block textstyle error">lastname is required</p>
        <p ng-show="registrationform.lastnames.$error.minlength"class="help-block textstyle error">lastname must contain atleast 5 characters </p>

      </div>
      <div class="formgroup">
        <blockquote class="bg-faded">
        <label class="textstyle">Email Id</label>
        <input type="email" name="emailid" ng-model="loginFormCtrl.email" class="form-control textstyle error" ng-required="true" ng-change="loginFormCtrl.check();>
        <p ng-show="registrationform.emailid.$invalid && registrationform.emailid.$touched" class="help-block textstyle error">Not a valid email-id</p>
      </blockquote>
      </div>
      <div class="formgroup">
        <blockquote class="bg-faded">
        <label for="gender" class="textstyle">Gender</label>
        <select id="gendertype" class="form-control">
          <option>Choose</option>
          <option value="male">male</option>
          <option value="female">female</option>
          <option value="other">other</option>
        </select>
      </blockquote>
      <!--<div class="form-group textstyle">-->
      <label style="margin-right: 17px;" class="textstyle">marital status</label>
      <div class="radio textstyle">
        <label><input type="radio" name="maritalstatus" checked>Married</label>
      </div>
      <div class="radio textstyle">
        <label ><input type="radio" name="maritalstatus" >Unmarried</label>
      </div>


    <!--</div>-->

      <button class="btn btn-primary textstyle" type="submit">Submit </button>

      </div>
    </form>


    </div>


  </body>
</html>
